<div class="header_category">
  <div *ngFor="let cat of cat$ | async" class="header_category-container" (click)="handleClick(cat.name)">
    <span style="text-transform: uppercase;" class="header_category-textSelected">{{cat.name}}</span>
    <!-- <span *ngIf="item.selected" class="header_category-textSelected">{{cat.name}}</span> -->
    <!-- <span *ngIf="!item.selected" class="header_category-text">{{cat.name}}</span> -->
    <!-- <div *ngIf="item.selected" class="header_category-selected"></div> -->
  </div>
</div>
