<div class="header">
  <div class="header_logo">E-commerce</div>
  <div class="header_search">
    <div class="header_options"></div>
    <div class="header_search-input">
      <!-- <mat-form-field class="example-full-width">
        <input matInput type="text" placeholder="Search anything" />
      </mat-form-field> -->
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label>
          <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>
      </form>
    </div>
  </div>
  <div class="header_btn-help">Help</div>
  <div class="header_btn-account">Account</div>
  <div class="header_btn-shopping">Shopping</div>
</div>
