<div class="login">
  <form class="login_form" (submit)="onClick($event)">
    <div class="login_form-title">Sign In</div>
    <div class="login_form-input">
      <div class="login_form-txt">Account name</div>
      <input type="text" required />
    </div>
    <div class="login_form-input">
      <div class="login_form-txt">Password</div>
      <input type="password" required />
    </div>
    <div class="login_form-submit">
      <input class="login_form-submit" type="submit" value="submit">
    </div>
  </form>
</div>