.branding {
  display: flex;
  justify-content: space-around;
  &_item {
    background-color: #ccc;
    width: 350px;
    height: 200px;
    position: relative;
    &-title {
      position: absolute;
      bottom: 0;
      color: #fff;
      padding: 10px;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    img {
      width: 350px;
      height: 200px;
    }
  }
}
.product {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 400px;
  padding: 20px;
  background-color: #ccc;
  position: relative;
  &_img {
    width: 230px;
    height: 230px;
  }
  &_icon-favourite {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}
.color_product {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}
.post_list {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 gap: 20px;
}
.post {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  align-items: center;
  width: 350px;
  min-height: 180px;
  max-height: 200px;
  &_title {
    font-weight: 600;
    font-size: 18px;
  }
  &_img {
    img {
      border-radius: 100px;
      width: 126px;
      height: 126px;
    }
  }
}