.hiddenCurr {
  display: none;
}
.footer_form {
  width: 1100px;
  background-color: #5959D9;
  color: #fff;
  padding: 50px 0;
  border-radius: 4px;
  &-submit {
    display: flex;
    justify-content: center;
  }
  &-input {
    display: flex;
    gap: 10px;
    background-color: #fff;
    border-radius: 50px;
    justify-content: space-between;
    padding: 8px;
    min-width: 500px;
    input {
      flex: 1;
      border: none;
      padding-left: 10px;
      &:focus {
        outline: none;
      }
    }
  }
  &-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    background-color: #EB8426;
    padding: 5px 10px;
    border-radius: 50px;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
  &-title {
    font-size: 20px;
    max-width: 500px;
  }
  &-txt {
    text-align: center;
    text-decoration: underline;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
.container {
  padding: 0 150px;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .footer_form {
    width: auto;
    &-input {
      min-width: auto;
    }
  }
}

@media (max-width: 600px) {
  .footer_form {
    padding: 0;
    width: auto;
    &-input {
      min-width: auto;
    }
    &-btn {
      justify-content: center;
      padding: 8px;
    }
    &-input {
      width: 100%;
    }
    &-title {
      font-size: 18px;
    }
  }
  .container {
    padding: 25px;
  }
  .hidden {
    display: none;
  }
  .hiddenCurr {
    display: block;
  }
}