<div class="footer_form">
  <div class="container">
    <div class="footer_form-title">
      <div>Yes!</div>
      Send me exclusive offers, unique gift ideas, and personalized tips for shopping and selling on Commerce.
    </div>
    <div style="height: 20px;"></div>
    <div class="footer_form-submit">
      <div class="footer_form-input">
        <input type="text" placeholder="Drop your Email" />
        <div class="footer_form-btn hidden">
          Subscribe
          <img src="../../../assets/imgs/Vector9.svg" alt="" />
        </div>
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="hiddenCurr">
      <div class="footer_form-btn" style="margin-bottom: 20px;">
        Subscribe
        <img src="../../../assets/imgs/Vector9.svg" alt="" />
      </div>
    </div>
    <div class="footer_form-txt">First order only. You’re ready?</div>
  </div>
</div>
